{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}About{% endblock %}</h1>
{% endblock %}

{% block nav_about %}active{% endblock %}

{% block content %}
<p>Nice to see you've reached my about page! I'm NotAName, and here's some random facts about me:</p>
<ul>
    <li>I've used NotAName online since like 6th grade. I've since forgotten how I came up with it. My real name is Ray.</li>
    <li>I was born in Toronto, but I now live in San Diego. I go to Scripps Ranch High School, and I'm planning to major in Computer Science in some university.</li>
    <li>My interests are programming, music, economics, math, politics (especially economic issues, racial issues, and LGBTQ issues) and sports (especially football and baseball).</li>
</ul>
<h2>About this site</h2>
<p>
    I registered the domain <a href="https://notana.me/">notana.me</a> on November 7th, 2021. 
    The site runs on a Raspberry Pi 4 through an Apache2 web server which forwards to a Flask program through <a href="https://pypi.org/project/mod-wsgi/" target="_blank">mod_wsgi</a>. 
    It may sound weird that I chose to host a purely static site using Flask, but stay tuned for some stuff that actually takes advantage of it!<br>
    I am not a good HTML/CSS programmer. If you have any comments or suggestions about this website, feel free to email me or shoot me a Discord message.<br>
    <b>Note:</b> This site uses target="_blank" on links without the rel="noopener" property. I didn't use them because I was lazy. 
    Every modern web browser (except for Opera for some reason) will implicitly add rel="noopener" anyways.
    If you are viewing this site in some sort of dinosaur browser last updated before 2021 (or Opera), 
    I'd beware of opening any links directly.
</p>
{% endblock %}