{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}About{% endblock %}</h1>
{% endblock %}

{% block nav_about %}active{% endblock %}

{% block content %}
<p>Nice to see you've reached my about page! I'm NotAName, and here's some random facts about me:</p>
<ul>
    <li>I've used NotAName online since like 6th grade. I've since forgotten how I came up with it. My real name is Ray.</li>
    <li>I was born in Toronto, but I now live in San Diego. I go to Scripps Ranch High School, and I'm planning to major in Computer Science in some university.</li>
    <li>My interests are programming, music, economics, math, politics (especially economic issues, racial issues, and LGBTQ issues) and sports (especially football and baseball).</li>
</ul>
{% endblock %}