{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}Contact{% endblock %}</h1>
{% endblock %}

{% block nav_contact %}active{% endblock %}

{% block content %}
<p>
    I can be reached at on Twitter at <a href="https://twitter.com/NotAName320" target="_blank">@NotAName320</a>,
    Discord at NotAName#0591, or at my <a href="mailto:rc144@outlook.com" target="_blank">personal email</a>. Those are my main methods of contact.
    I also have a Steam, Reddit, etc. that can be found pretty easily, but I don't feel like putting those here because they're honestly
    not that efficient for contacting people.
</p>
{% endblock %}