{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}Cool Stuff{% endblock %}</h1>
{% endblock %}

{% block nav_coolstuff %}active{% endblock %}

{% block content %}
<p>
    Below is an ever-growing list of cool stuff I have found online. If you have any questions about the list, feel free to contact me about it.
</p>
<ul>
    <li><a href="https://draemm.li/various/place-atlas/" target="_blank">Annotated map of r/place at its end</a></li>
    <li><a href="https://newcampaigntrail.github.io/newcampaigntrail/www.americanhistoryusa.com/campaign-trail/index.html" target="_blank">Try to become the president in some scenarios based on real historical elections</a></li>
    <li><a href="https://www.history.com/news/the-bizarre-history-of-the-nfls-first-title-game" target="_blank">The first NFL playoff game was weird</a></li>
    <li><a href="https://carbon.now.sh/" target="_blank">Make your code look way cooler than it actually is</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLq62m2d0BarqB5D40bXOBqWCzaNhHMFYt" target="_blank">Dragon Skin: A Docuseries on American Football in China</a></li>
    <li><a href="https://fivethirtyeight.com/features/goose-egg-new-save-stat-relief-pitchers/" target="_blank">How to fix the worst stat in baseball</a></li>
    <li><a href="https://theanarchistlibrary.org/library/petr-kropotkin-mutual-aid-a-factor-of-evolution" target="_blank">Kropotkin's Mutual Aid</a></li>
    <li><a href="https://www.derivative-calculator.net/" target="_blank">Calculates derivatives and shows step-by-step</a></li>
    <li><a href="https://neal.fun/" target="_blank">Some fun little online games made by Neal Agarwal</a></li>
    <li><a href="https://www.onezoom.org/life.html/" target="_blank">All of evolution in one tree</a></li>
</ul>
{% endblock %}