{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}Music{% endblock %}</h1>
{% endblock %}

{% block nav_music %}active{% endblock %}

{% block content %}
<p>
    I used to make a lot of music (primarily mashups) and may do more in the future.<br>
    You can check them out at <a href="https://soundcloud.com/liltrashrap" target="_blank">my SoundCloud</a>
    or sometimes <a href="https://stupidmashups.bandcamp.com/" target="_blank">my Bandcamp</a>, where I may post full albums.<br>
    <iframe style="border: 0; width: 400px; height: 439px;" src="https://bandcamp.com/EmbeddedPlayer/album=2924350845/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="https://stupidmashups.bandcamp.com/album/two-gecks">two gecks by lil trash rap</a></iframe>
</p>
{% endblock %}