<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %} - NotAName's Website</title>
    <meta property="og:title" content="{{ self.title() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="logo">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="notaname's website"></a>
    </div>
    <div class="topbar" id="topBar">
        <a class="{% block nav_home %}{% endblock %}" href="/">Home</a>
        <a class="{% block nav_about %}{% endblock %}" href="/about">About</a>
        <a class="{% block nav_music %}{% endblock %}" href="/music">Music</a>
        <a class="{% block nav_contact %}{% endblock %}" href="/contact">Contact</a>
        <a class="{% block nav_coolstuff %}{% endblock %}" href="/coolstuff">Cool Stuff</a>
        <a href="javascript:void(0);" class="hamburger" onclick="topBarShow()">
            <div></div>
            <div></div>
            <div></div>
        </a>
    </div>
    <script>
        function topBarShow() {
          var x = document.getElementById("topBar");
          if (x.className === "topbar") {
            x.className += " responsive";
          } else {
            x.className = "topbar";
          }
        }
    </script>


    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </section>

    <hr style="width:30%">
    <div class="footer">
        <p>
            Copyright © 2021 NotAName. Site licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.<br>
            Made with love, care, and <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a>.
        </p>
    </div>
</body>
</html>